@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media screen and (max-width: 1280px)
    .next-but
        float: unset
        margin-top: 20px
    .queez-container
        padding-left: 15px
        padding-right: 15px
    .queez-num
        margin-top: 52px
    .offer-sec
        h1
            > br
                display: none
        h3
            margin-top: -37px
    .custom-container
        padding-left: 15px
        padding-right: 15px
    .slider1
        padding-top: 133px
        background-position: -300px top
    .callback-container
        h1
            font-size: 106px
        br
            display: none
    .slider-container
        >p
            max-width: 500px
    .tab-sec
        h1
            font-size: 66px
    .info-card-container
        margin-top: 75px
        .info-card
            margin-bottom: 20px
    .last-card-container
        .last-card
            margin-top: 50px
    .slider-container
        >p
            margin-bottom: 0
    .offer-sec
        .down-but
            margin-top: 35px



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    .callback-sec
        background: url(/img/mobcallback-bg.png)
        background-position: top right
        background-repeat: no-repeat
        padding-left: 15px
        padding-right: 15px
    .mobnone
        display: none
    .queez-num
        left: 0
    .queez
        background: url(/img/mobqueez.png)
        background-position: top right
        background-repeat: no-repeat
        min-height: 800px
        h2
            text-indent: 153px
            font-size: 40px
            > br
                display: none
        .select-container
            padding-left: 0
            margin-right: auto
            margin-top: 76px
            position: absolute
            top: 300px
            right: 20px
            h3
                font-size: 40px
            .select-wrapper
                width: 278px
                background: url(/img/mobselect-bg.png)
            .next-but
                width: 278px
                background: url(/img/mobnextbut.png)
    .offer-sec
        background-repeat: no-repeat
        background-position: left top
        h1
            font-size: 106px
        .down-but
            text-align: center
    .test-sec
        .custom-container
            max-width: 600px
    .slider1
        padding-top: 133px
        background-position: -400px 0px
    .slider-container
        padding-left: 15px
        padding-right: 15px
        >p
            max-width: 457px
            margin-left: 0
        h2
            text-indent: 0
            text-align: center
            font-size: 100px
    .test-sec
        h2
            font-size: 106px
    .button-container
        margin-top: -50px
    .info-sec
        h2
            font-size: 106px
            > br
                display: none
    .queez
        .num-container
            top: 630px
            left: 40px
    .callback-container
        h1
            font-size: 100px
            text-indent: 150px
    .form-container
        max-width: 700px
        margin-left: auto
        margin-right: auto
        text-align: center
        .next-but
            float: unset
            margin-left: auto
            margin-right: auto
    .tel-label
        display: none
    .thanks-sec
        h1
            font-size: 110px
        .thanks-container
            padding-left: 15px
            padding-right: 15px
            background-position: 10px 0px
    .tab-row
        flex-wrap: wrap
        .col-addr, .col-name, .col-map, .col-time
            padding-left: 20px
        > div
            padding-left: 20px
            min-width: 100%
            order: 2
        div:nth-child(2)
            order: 0
        div:nth-child(1)
            order: 1
        .col-map
            margin-top: 20px
    .tab-container
        margin-left: auto
        margin-right: auto
        max-width: 90vw
    .tab-head
        display: none
    .next-but
        img
            display: none
    .form-container
        .next-but
            img
                display: block


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    .elem-bg
        display: none
    .tabinfo-container
        div
            width: 100%
    .check-container
        div
            > img
                width: 157px
    .thanks-sec
        h1
            font-size: 40px
            text-indent: 0
            left: 0
            text-align: left
            text-indent: 110px
        h2
            font-size: 40px
    .callback-container
        padding-top: 20px
        h1
            font-size: 40px
            line-height: 50px
            max-width: 340px
            margin-left: auto
            margin-right: auto
            position: relative
            left: -30px
    .form-container
        p
            text-align: left
            padding-left: 30px
        input
            min-width: 277px
            background: url(/img/mobinput.png)
        .select-wrapper
            max-width: 277px
            background: url(/img/mobselect-bg.png)
            display: block
            margin-left: auto
            margin-right: auto
        .next-but
            max-width: 277px
            background: url(/img/mobnextbut.png)
            text-align: left
            img
                display: none
    .pcarrow
        display: none
    .people
        margin-left: auto
        margin-right: auto
        display: block
    .offer-sec
        background: url(/img/moboffer-bg.png)
        background-repeat: no-repeat
        height: auto
        padding-bottom: 100px
        h1
            font-size: 40px
            max-width: 300px
            margin-left: auto
            margin-right: auto
            position: relative
            left: -30px
            text-indent: 100px
        h3
            font-size: 20px
            max-width: 230px
            margin-left: auto
            margin-right: auto
            position: relative
            right: -70px
        .down-but
            span
                display: none
    .test-sec
        background-position: 10px 0
        h2
            font-size: 40px
            max-width: 200px
            text-align: right
            margin-right: auto
            margin-left: 0
        p
            font-size: 15px
            line-height: 17px
            max-width: 300px
            margin-left: auto
        .adv-card
            h3
                font-size: 30px
                padding-left: 70px
                margin-left: 0
            p
                padding-left: 70px
                margin-left: 0
                font-size: 15px
            >img
                display: block
                margin-left: auto
                margin-right: auto
            .callback-but
                padding-left: 70px
                font-size: 20px
        .inside-container
            margin-left: auto
            margin-right: auto
    .slider1
        background: url(/img/mobslider-bg.png)
        background-repeat: no-repeat
        background-position: top right
        padding-bottom: 50px
    .slide-img-sec
        text-align: center
        img
            margin-left: auto
            margin-right: auto
            max-width: 300px
    .hiv-slide
        h3
            margin-top: 20px
            font-size: 40px
    .hiv-slider
        max-width: 400px
        margin-left: auto
        margin-right: auto
    .button-container
        margin-top: 0
        margin-left: auto
        margin-right: auto
        display: flex
        justify-content: center
    .slider-container
        h2
            font-size: 40px
        p
            font-size: 15px
            right: 0
            left: inherit
            margin-left: auto
            margin-right: auto
    .info-sec
        h2
            font-size: 40px
            text-indent: 100px
    .info-sec
        background: url(/img/mobinfo-bg.png)
        background-repeat: no-repeat
        .custom-container
            >p
                width: 70%
                font-size: 15px
                margin-left: auto
                margin-right: 0
    .info-img
        img
            max-width: 79px
    .info-content
        margin-left: 28px
        h3
            font-size: 20px
            line-height: 25px
        p
            font-size: 15px
    .info-card-container
        margin-top: 50px
        .info-card
            margin-bottom: 38px
    .last-card-container
        padding-left: 15px
        padding-right: 15px
        .last-card
            margin-top: 0
    .footer-card
        h3
            padding-left: 109px
        p
            padding-left: 109px
    .num1
        display: none
    .alc-cont
        margin-left: auto
        max-width: 177px
        margin-right: 20px
        span
            font-size: 15px
            line-height: 20px
        br
            display: none
    .callback-container
        .hiv-label
            left: 20px
            font-size: 15px
            margin-top: 20px
    .pc-ok
        display: none
    .tab-sec
        padding-left: 15px
        padding-right: 15px
        h1
            font-size: 28px
            line-height: 35px
            left: 0
    .offer-sec
        .down-but
            margin-left: auto
            margin-right: auto
    .offer-sec
        padding-top: 35px
        padding-bottom: 35px
    .queez
        .next-but
            img
                display: none
    .info-sec
        .custom-container
            >p
                line-height: 17px
    .info-content
        p
            line-height: 17px
    .tabinfo-container
        div
            p
                margin-left: auto
                margin-right: auto
        div:nth-child(1)
            p
                max-width: 150px
                transform: translateX(-12px)
        div:nth-child(2)
            p
                max-width: 172px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    .slider-container
        h2
            .hiv-label
                font-size: 15px
                text-indent: 0
                margin-left: -80px

@media screen and (max-width: 380px)
    .test-sec
        .adv-card
            .callback-but
                padding-left: 35px
    .offer-sec
        h1
            left: 0
    .callback-container
        h1
            left: 0
    .footer-card
        h3
            font-size: 32px
            line-height: 40px
    .callback-sec
        h1
            text-indent: 80px
    .thanks-sec
        padding-top: 50px
    .offer-sec
        .down-but
            margin-left: auto
            margin-right: auto
    .slider-container
        h2
            .hiv-label
                font-size: 14px
                text-indent: 0
                margin-left: -55px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
    .mob-ok
        display: none
    .offer-sec
        .people
            display: none
    .callback-container
        .hiv-label
            display: none
    .tab-sec
        background: url(/img/tab-bg.png)
        background-repeat: no-repeat
        background-position: top right
        .hiv-label
            display: inherit
    .slide-button
        width: 72px
        height: 81px
        position: relative
        display: flex
        align-items: center
        justify-content: center
        float: left
        .slide-border
            display: block
            opacity: 0
            position: absolute
            transition: 0.25s
    .slide-button:hover
        .slide-border
            opacity: 1
    .num2
        display: none
    .offer-sec
        .hiv-label
            display: none

    .slider-container
        h2
            .hiv-label
                display: none

@media only screen and (min-width : 992px)
    .pcnone
        display: none

@media (min-width: 992px)
    /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
    /**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
    /**/

@media only screen and (min-width: 769px)
    .mobarrow
        display: none

@media screen and (max-width: 768px)
    .slidesec
        width: 100%
